In [4]:
import pandas as pd

In [9]:
df = pd.DataFrame(pandas.read_csv("GCF_000001735.4_TAIR10.1_genomic.gff", sep="\t", skiprows=8))

In [10]:
# Show table head
df.iloc[0:3,:]

,NC_003070.9,RefSeq,region,1,30427671,.,+,..1,ID=NC_003070.9:1..30427671;Dbxref=taxon:3702;Name=1;chromosome=1;ecotype=Columbia;gbkey=Src;genome=chromosome;mol_type=genomic DNA
0,NC_003070.9,RefSeq,gene,3631.0,5899.0,.,+,.,"ID=gene-AT1G01010;Dbxref=Araport:AT1G01010,TAI..."
1,NC_003070.9,RefSeq,mRNA,3631.0,5899.0,.,+,.,ID=rna-NM_099983.2;Parent=gene-AT1G01010;Dbxre...
2,NC_003070.9,RefSeq,exon,3631.0,3913.0,.,+,.,ID=exon-NM_099983.2-1;Parent=rna-NM_099983.2;D...

In [12]:
# Unique values
df['region'].unique()

array(['gene', 'mRNA', 'exon', 'CDS', 'lnc_RNA', 'primary_transcript',
       'miRNA', 'transcript', 'tRNA', 'antisense_RNA', 'pseudogene',
       'snoRNA', 'sequence_feature', 'ncRNA', 'snRNA', nan, 'region',
       'rRNA', 'direct_repeat', 'repeat_region', 'five_prime_UTR',
       'inverted_repeat', 'three_prime_UTR'], dtype=object)